@use './modules/survey/SelfUnderstanding.scss';
@use './modules/survey/Home.scss';
@use './modules/survey/SelfUnderstandingTest.scss';
@use './modules/survey/SelfUnderstandingSelect.scss';
@use './modules/survey/SUQuestions.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: block;
}
