.self-understanding-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  .select-title {
    font-size: 1.875rem;
    margin-bottom: 1.875rem;

    @media (min-width: 768px) {
      font-size: 2rem;
      margin-bottom: 2.25rem;
    }
  }
  .select-button-group {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    align-items: center;

    @media (min-width: 768px) {
      gap: 2.25rem;
    }

    .select-button {
      border: none;
      border-radius: 1.25rem;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
      padding: 0.625rem 1.5625rem;
      background-color: white;
      color: #000000;
      :hover {
        cursor: pointer;
      }

      @media (min-width: 768px) {
        padding: 0.9375rem 2.25rem;
      }

      .select-button__title {
        font-size: 1.625rem;
        font-weight: 700;
        margin-bottom: 0.625rem;

        @media (min-width: 768px) {
          font-size: 1.8125rem;
        }
      }
      img {
        width: 12.5rem;
        max-width: 100%;
        margin-bottom: 0.625rem;

        @media (min-width: 768px) {
          width: 13.5rem;
        }
      }
      .select-button__description {
        font-size: 1rem;
        margin-bottom: 0.3125rem;

        @media (min-width: 768px) {
          font-size: 1rem;
        }
      }
      .select-button__estimated-time {
        font-size: 0.8125rem;
        font-weight: 300;
        color: #4B4B4B;

        @media (min-width: 768px) {
          font-size: 0.875rem;
        }
      }
    }
  }
}
