.self-understanding-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  .select-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .select-button-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .select-button {
      border: none;
      border-radius: 20px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
      padding: 10px 25px;
      background-color: white;
      color: #000000;
      :hover {
        cursor: pointer;
      }
      .select-button__title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      img {
        width: 200px;
        margin-bottom: 10px;
      }
      .select-button__description {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .select-button__estimated-time {
        font-size: 13px;
        font-weight: 300;
        color: #4B4B4B;
      }
    }
  }
}
